body {
    /*background-origin: black;*/
    background: url('images/travel2.jpg') no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    margin: 0;
    font-family: 'Comfortaa', cursive, Arial, sans-serif;
}
body::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    /*background: url('images/car_pattern.png') no-repeat center fixed;*/
    /*filter: blur(2px);*/
}


h1, h2, p, a {
    font-family: 'Comfortaa', cursive, Arial, sans-serif;
}
.sub-title {
    font-size: 1.5em;
}
.bg-orange {
    color: #E26207;
}

#left_side {
    width: 60%;
    height: 100%;
    color: white;
}

#logo {
    position: relative;
    z-index: 10;
    /*left: 5%;*/
    height: 60px;
    left: 10%;
    top: 30px;
}

#name {
    position: relative;
    z-index: 10;
    left: 11%;
    top: 45px;
    font-size: 1.5em;
    font-family: 'Comfortaa', cursive, Arial, sans-serif;
}

#left_side_back {
    z-index: 1;
    width: 60%;
    height: 150%;
    top: -90px;
    left: -80px;
    transform: rotate(7deg);
    position: fixed;
    background-color: #323a45;
    opacity: 0.75;
    display: block;
}


#content {
    position: relative;
    z-index: 2;
    width: 90%;
    padding: 10%;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    visibility: visible;
    font-family: 'Comfortaa', cursive, Arial, sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content a.button {
    border: 2px solid #E26207;
    background: transparent;
    color: #E26207;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration:none;
    -webkit-transition:0.3s all ease;
    transition:0.3s ease all;
}
#content a.button:hover,
#content a.button:focus {
    color:#FFF;
}
.button {
    font-size:18px;
    letter-spacing:2px;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    width:270px;
    font-weight:bold;
    padding:14px 0px;
    border:3px solid #E26207;
    border-radius:2px;
    position:relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}
.button:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:#E26207;
    z-index:-2;
}
.button:hover:before,
.button:focus:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    left:0;
    right:0;
    opacity:1;
}

#content img {
    width: 40px;
    margin: 5px;
    float: left;
}


/***** SOCIAL *****/

#social {
    position: relative;
    z-index: 2;
    width: 90%;
    text-align: left;
    margin: 0 0 0 10%;
}
#social img {
    width: 30px;
    margin: 0 10px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#social img:hover {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}


#right_side {
    float: right;
    width: 40%;
    height: 100%;
}

/***** FOOTER *****/
footer {
    color: white;
    z-index: 3;
    position: absolute;
    font-family: 'Comfortaa', cursive, Arial, sans-serif;
    font-size: 0.8em;
    width: 100%;
    padding: 0;
    margin-top: -3%;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #E26207;
    text-decoration: none;
}



/*****ANIMATE *****/
.bounce-in-top {
	-webkit-animation: bounce-in-top 1.8s 2s both;
	        animation: bounce-in-top 1.8s 2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-5-10 15:51:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 0.5s;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	/*10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }*/
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	/*30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }*/
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	/*50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }*/
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	/*70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }*/
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	/*90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }*/
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
